@import 'variables.scss';
$cx-include-global-rules: true;

// THEIR COLORS
$mid-grey: $eds-evooq-mid-grey;
$dark-grey: #323E48;
// LISTS
// fieldS
$fields: textfield lookupfield datetimefield colorfield numberfield textarea monthfield select checkbox;

// FONT
$font-size-small-3x: 8px;
$font-size-small-2x: 10px;
$font-size-small: 12px; // because they don't want small font size
$cx-default-font-size: 14px;
$font-medium: 16px;
$font-size-large: $cx-default-font-size + 1px;
$font-size-large-2x: $cx-default-font-size + 2px;
$font-size-large-3x: $font-size-large + 3px;
$font-size-header: 20px;
$font-size-large-4x: $font-size-large + 9px;
$font-size-large-5x: $font-size-large + 13px;
$font-size-large-6x: $font-size-large + 15px;
$title-font-size: $font-size-large-3x + 2px;

$line-height-default: 20px;
$line-height-medium: 22px;

/* In our app - bold is Gotham medium, and regular is Gotham book */
$font-weight-thin: 400;
$font-weight: 400;
$font-weight-bold: 500;
$font-weight-bolder: 500; // because they don't want bold text * now they want it again

$cx-default-font-family: "Gotham Book", "Ubuntu", "Open Sans", sans-serif;

// CUSTOM VARIABLES
// size units
$main-layout-size-unit: 8px !default;

$border-radius-small: 2px;
$border-radius: 4px;
$border-radius-medium: 6px;
$border-radius-large: 4 * $border-radius;
$cx-default-border-radius: $border-radius;

// MAIN COLORS
// background colors
$background-color-light-3x: #fff;
$background-color-light-2x: #fff;
$background-color-light: #f8f8f8 !default;
$background-color: rgb(240, 241, 243) !default;
$background-color-dark: hsl(0, 0%, 92%) !default;
$background-color-dark-2x: hsl(207, 19%, 90%) !default;
$background-color-dark-3x: hsl(214, 24%, 82%) !default;
$background-color-dark-4x: $eds-navigation-background-color;

// text colors
$text-color-light-4x: hsl(206, 22%, 88%);
$text-color-light-3x: hsl(206, 15%, 76%);
// $text-color-light-2x: $eds-evooq-light-grey;
$text-color-light-2x: $eds-text-color-secondary;
// $text-color-light: hsl(203, 12%, 44%);
$text-color-light: $eds-text-color-secondary;
// $text-color-light: $eds-text-color-secondary; // doesn't pass contrast test - shouldn't be used
$text-color: $eds-text-color;
$text-color-dark: $eds-evooq-dark-grey;
$text-color-dark-2x: hsl(207, 12%, 5%);
$cx-default-color: $text-color;

// border colors
// $border-color-light: $eds-grey-10;
$border-color-light: $eds-border-color-split; // the same as rgba(0, 0, 0, 0.06) on white bg
$cx-default-border-color: $eds-swatcheslightgrey-2;
$border-color-dark: $eds-evooq-light-grey;

// UI COLORS
// primary
$primary-color: $eds-primary-color;
$primary-color-opaque-2x: rgba(0, 118, 222, 0.1);
$primary-color-opaque: rgba(0, 118, 222, 0.2);
$primary-color-light-5x: hsl(208, 74%, 97%);
$primary-color-light-4x: rgba($primary-color, 0.1);
$primary-color-light-3x: hsl(208, 78%, 91%);
$primary-color-light-2x: hsl(206, 100%, 76%);
$primary-color-light: hsl(208, 100%, 56%);
$primary-color-dark: $eds-swatchesverydarkblue;
$primary-color-dark-2x: #134064;

$primary-text-color-light: hsl(206, 68%, 43%);
$primary-text-color: hsl(206, 66%, 30%);
$primary-text-color-dark: hsl(206, 74%, 20%);

// secondary
$secondary-color-light-2x: hsl(354, 92%, 81%);
$secondary-color-light: hsl(354, 85%, 61%);
$secondary-color: #E83C4D;
$secondary-color-dark: hsl(354, 70%, 47%);

// terciary
$terciary-color-light-2x: rgba($eds-swatchesdarkpurple, 0.08); // rgba($eds-swatchesdarkpurple, 0.08);
$terciary-color-light: rgba($eds-swatchesdarkpurple, 0.2);
$terciary-color: $eds-swatchespurple;
$terciary-color-dark: hsl(271, 70%, 60%);
$terciary-color-dark-2x: darken($terciary-color-dark, 2);
$terciary-text-color: $eds-swatchesdarkpurple;

// accent
$accent-color-opaque: hsla(74, 100%, 50%, 0.03);
$accent-color-light-2x: hsl(77, 100%, 96%);
// $accent-color-light: hsla(74, 100%, 50%, 0.2);
$accent-color-light: hsl(77, 100%, 92%);
// $accent-color: hsl(147, 51%, 65%);
$accent-color: #C5FF00;
$accent-color-dark: hsl(120, 39%, 51%);
$accent-text-color: hsl(120, 38%, 32%);

$cx-default-toast-box-shadow: 0 4px 12px rgba(#000, 0.25);

// list hover
$list-hover-color: $primary-color-light-4x;

// error
$error-color-light-3x: hsl(0, 100%, 96%);
$error-color-light-2x: hsl(357, 92%, 92%);
$error-color-light: hsl(357, 81%, 79%);
// $error-color: hsl(354, 79%, 57%); // old
$error-color: $eds-error-color;
$error-color-dark: hsl(357, 62%, 39%);
$error-text-color: hsl(357, 61%, 29%);

// orange
$orange-color: hsl(40, 99%, 63%);

// warning
$warning-color-light: hsl(42, 92%, 85%);
$warning-color: $eds-warning-color;
$warning-color-dark: hsl(36, 98%, 38%);
$warning-text-color: hsl(36, 88%, 28%);

// info
$info-color-light: $eds-info-color;
$info-color: $eds-info-color;
$info-color-dark: hsl(214, 84%, 56%);
$info-text-color: hsl(192, 47%, 29%);

$highlight-color: #cbdd52 !default;
$highlight-grid-color: rgba(26, 40, 128, 0.03) !default;

// success
$green-color: $eds-swatchesdarkgreen;
$success-color-light-2x: hsl(84, 50%, 80%);
$success-color-light: hsl(83, 51%, 60%);
// $success-color: $eds-success-color;
$success-color: $eds-success-color;
$success-color-dark: hsl(122, 27%, 47%);
$success-text-color: hsl(122, 31%, 27%);

// neutral
$neutral-color-light: hsl(37, 49%, 95%);
$neutral-color: $eds-body-background-color;
$neutral-color-dark: hsl(37, 37%, 63%);

$neutral-text-color: mix($neutral-color-dark, rgb(100, 98, 98), 40%);

// simulation color
// $simulation-color-light: hsl(62, 86%, 95%);
// $simulation-color: hsl(61, 88%, 52%);
// $simulation-color-dark: hsl(61, 81%, 45%);
$simulation-color-light: hsl(285, 78%, 98%);
$simulation-color: hsl(285, 55%, 88%);
// $simulation-color-dark: hsl(285, 43%, 74%);
$simulation-color-dark: #BC83CE;
$simulation-text-color: hsl(285, 78%, 27%);

// commpliance
$partner-color: #E2E8EF;
$mandate-color: #E8E0D9;

// ANIMATION
$animation-slide-in: cubic-bezier(0.0, 0.0, 0.2, 1);
$animation-slide-out: cubic-bezier(0.4, 0.0, 1, 1);
$animation-duration: 0.3s;
$animation-duration-long: $animation-duration + 0.2;
$animation-delay: $animation-duration/2;
$animation-delay-long: $animation-duration-long/2;

// BOX SHADOW
$box-shadow: 0 2px 4px rgba(#000, 0.1);
$box-shadow-card: 0px 2px 8px rgba(0, 0, 0, 0.2);
$box-shadow-large: 0px 4px 8px rgba(0, 0, 0, 0.25);
$box-shadow-dark: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-light: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$box-shadow-top: 0 -4px 12px rgba(#000, 0.04);
$box-shadow-left: -4px 0 12px rgba(#000, 0.04);
$box-shadow-left-dark: -4px 0 12px rgba(0, 0, 0, 0.08);
$box-shadow-main-header: 0px 0px 7px rgba(0, 0, 0, 0.1 );

// LOADING OVERLAY
$loading-overlay-background-color: rgba($background-color-light, 0.65);

// GENERAL
$cx-default-box-padding: $main-layout-size-unit;
$cx-default-box-padding-medium: 1.5 * $main-layout-size-unit;
$cx-default-box-padding-small: $cx-default-box-padding/2;
$cx-default-box-padding-large: 2 * $cx-default-box-padding;
$cx-default-box-padding-large-2x: 2.5 * $cx-default-box-padding;
$cx-default-box-padding-large-3x: 4 * $cx-default-box-padding;

$cx-default-box-line-height: 16px !default;
$cx-default-icon-size: 2 * $main-layout-size-unit;


// WINDOW
// header
$cx-default-window-header-color: $cx-default-color;
$cx-default-window-header-font-size: 16px;

// MENU
// menu color
$menu-background-color-light-2x: hsl(200, 80%, 24%);
$menu-background-color-light: $eds-swatchesoffwhite;
$menu-background-color: $background-color-dark-4x;
$menu-background-color-dark: hsl(210, 100%, 9%);
$menu-text-color: hsl(210, 17%, 47%);
$menu-text-color-light: hsl(205, 13%, 64%);
$menu-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

// SECTION
$section-background-color: $background-color-light-2x;
$section-border-radius: 2px;
$card-box-shadow: 0 0 4px 0 rgba(#000, 0.03);
$top-border-card-height: 290px;

// header
$section-header-font-size: $font-size-large-2x;
$section-header-font-size-large: $section-header-font-size + $main-layout-size-unit/2;
$section-header-text-transform: none;
$section-header-color: $text-color;
$section-header-padding: $cx-default-box-padding-large $cx-default-box-padding-large $cx-default-box-padding-small;

// GRID
$grid-selection-color: $accent-color;
$grid-data-color: $cx-default-color;
$cx-default-grid-data-padding: $cx-default-box-padding-large;
// $cx-default-grid-data-alternate-background-color: hsl(200, 20%, 98%);

// header
$cx-default-grid-header-background-color: $eds-swatcheslightgrey;
$cx-default-grid-header-border-color: $cx-default-grid-header-background-color;
$cx-default-grid-header-box-shadow: none;
$cx-default-grid-header-border-width: 0;
$grid-header-padding: $cx-default-box-padding-large;
$cx-default-grid-header-color: $eds-text-color;
$cx-default-grid-header-font-weight: $font-weight-bold;

// CX VARIABLES
// BUTTON
// $cx-default-button-color: $text-color-dark;
$cx-default-button-color: $cx-default-color !default;
$cx-default-button-font-weight: $font-weight !default;
$cx-default-button-font-size: $cx-default-font-size;
// $cx-default-button-background-color: $background-color-dark !default;
$cx-default-button-background-color: $background-color-light-2x !default;
$cx-default-button-border-width: 1px !default;
$cx-default-button-border-color: $cx-default-border-color !default;
$cx-default-button-border-radius: $border-radius !default;
$cx-default-button-padding: 8px 18px !default;
$cx-default-button-box-shadow: none !default;

// FORM
// $cx-default-input-background-color: rgba($background-color-light-3x, 0.8) !default;
$input-background-color-dark: $background-color-light-2x !default;
$cx-default-input-border-color: $cx-default-border-color !default;
$cx-default-input-padding: $cx-default-box-padding;
$cx-default-input-border-width: 1px;
$cx-default-input-border-radius: $border-radius !default;
$cx-default-input-font-size: $cx-default-font-size;
$cx-default-input-color: $text-color !default;
$cx-default-clear-color: $text-color !default;

// checkbox
$cx-default-checkbox-color: $primary-color;
$cx-default-checkbox-size: 2 * $main-layout-size-unit;
$checkbox-border-color: $cx-default-border-color;
$checkbox-border-width: 1px;
$checkbox-font-size: $cx-default-font-size;

// radio
$cx-default-radio-color: $primary-color-light;

// LABEL
// $cx-default-label-font-size: $font-size !default;
$cx-default-label-font-weight: $font-weight-thin !default;
$cx-default-label-color: $text-color-light !default;
$cx-default-label-padding: $cx-default-box-padding 0 0;
$cx-default-label-font-size: $cx-default-font-size;

// CALENDAR
$cx-default-calendar-background-color: transparent !default;
$cx-default-calendar-day-border-radius: 0% !default;
$cx-default-calendar-border-width: 0;
$cx-default-calendar-padding: 0;

// SWITCH
$cx-default-switch-axis-background-color: $eds-swatcheslightgrey-2 !default;
$cx-default-switch-range-background-color: $primary-color-dark !default;
$cx-default-switch-handle-background-color: $background-color-light-2x !default;
$cx-default-switch-handle-background-color-on: $background-color-light-2x !default;
$cx-default-switch-handle-border-color: $cx-default-switch-handle-background-color !default;
$cx-default-switch-handle-box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.05) !default;

$form-container-background-color: rgba(#fff, 0.1);
$transparent-form-field-background-color: rgba(#fff, 0.20);

// tags
$cx-default-input-tag-color: $primary-text-color;
$cx-default-input-tag-background-color: lighten($primary-color-light-3x, 2) !default;
$cx-default-input-tag-font-size: $cx-default-font-size; // this cannot be 14px end
$cx-default-input-tag-spacing: 3px !default;
$cx-default-input-tag-padding: $cx-default-box-padding-small !default;
$cx-default-input-tag-border-radius: $border-radius;
$cx-default-input-tag-border-color: $cx-default-input-tag-background-color;

// placeholder
$input-placeholder-color: rgba($cx-default-color, 0.33);

// TOOLTIP
$cx-tooltip-font-size: $cx-default-font-size - 1;
$cx-tooltip-background-color: $background-color-light-2x;
$cx-tooltip-border-color: transparent;
$cx-tooltip-border-radius: $border-radius;
// $cx-tooltip-color: ;
$cx-tooltip-padding: $cx-default-box-padding * 1.5;
$cx-tooltip-color-error: $error-text-color;
$cx-tooltip-border-color-error: $error-color-light-2x;
$cx-toolttip-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

// progressbar
$cx-default-progressbar-height: $main-layout-size-unit * 2 !default;
$cx-default-progressbar-font-size: $font-size-small-2x !default;
$cx-default-progressbar-color: $primary-text-color !default;
$cx-default-progressbar-background-color: $eds-bg-color-base-4 !default;
$cx-default-progressbar-border-width: 0 !default;
$cx-default-progressbar-border-radius: 0 !default;
$cx-default-progressbar-indicator-background-color: $primary-color-light-2x;

// DROPDOWN
$cx-default-dropdown-background-color: $background-color-light-2x !default;

// CHART
// svg
$cx-axis-line-stroke: $border-color-light !default;
$cx-axis-ticks-stroke: $cx-axis-line-stroke !default;

// color palette
$cx-default-palette-fill-whiten: 0% !default;
$cx-default-palette-fill-blacken: 0% !default;

$cx-default-palette-fill-hover-whiten: 10% !default;
$cx-default-palette-fill-hover-blacken: 0% !default;

$cx-default-palette-fill-selected-whiten: 0% !default;
$cx-default-palette-fill-selected-blacken: 0% !default;

$cx-default-palette-fill-disabled-whiten: 0% !default;
// $cx-default-palette-fill-hover-blacken: 40% !default;

$cx-default-palette-stroke-whiten: 5% !default;
$cx-default-palette-stroke-blacken: 15% !default;

// $cx-default-palette-colors:
// hsl(122, 31%, 57%)
// hsl(65, 58%, 61%)
// hsl(65, 68%, 75%)
// hsl(354, 79%, 57%)
// hsl(4, 75%, 65%)
// hsl(354, 65%, 72%)
// hsl(34, 92%, 41%)
// hsl(34, 85%, 50%)
// hsl(34, 85%, 60%)
// hsl(65, 62%, 41%)
// hsl(188, 61%, 53%)
// hsl(209, 100%, 55%)
// hsl(65, 58%, 61%)
// hsl(291, 39%, 53%)
// hsl(291, 45%, 63%)
// hsl(291, 55%, 78%)
// hsl(4, 75%, 65%)
// hsl(122, 31%, 57%)
// hsl(209, 17%, 64%);

$cx-default-palette-colors:
    $eds-data-equidistant-9
    $eds-data-equidistant-10
    $eds-data-equidistant-11
    $eds-data-equidistant-12
    $eds-data-equidistant-13
    $eds-data-equidistant-14
    $eds-data-equidistant-15
    $eds-data-equidistant-16
    $eds-data-equidistant-1
    $eds-data-equidistant-2
    $eds-data-equidistant-3
    $eds-data-equidistant-4
    $eds-data-equidistant-5
    $eds-data-equidistant-6
    $eds-data-equidistant-7
    $eds-data-equidistant-8
    hsl(4, 75%, 65%)
    hsl(122, 31%, 57%)
    hsl(209, 17%, 64%)
    $simulation-color-dark
    $eds-pending-color-dark
    $eds-pending-color-light
    $eds-opportunity-color-dark
    $eds-opportunity-color-light;




html {
   font-weight: 500;
   height: 100%;
}

body {
   height: 100%;
}

@import '~cx/src/variables';

@import './manifest.scss';

$cx-tab-state-style-map: cx-deep-map-merge(
   $cx-tab-state-style-map,
   (
      default: (
         font-weight: 600,
      ),
      selected: (
         font-weight: null,
      ),
      cursor: (
         font-weight: null,
      ),
      selected-cursor: (
         font-weight: null,
      ),
   )
);

$cx-tab-mods: cx-deep-map-merge(
   $cx-tab-mods,
   (
      line: (
         selected: (
            font-weight: null,
         ),
         cursor: (
            font-weight: null,
         ),
         selected-cursor: (
            font-weight: null,
         ),
      ),
   )
);

$cx-link-state-style-map: (
   active: (
      font-weight: null,
   ),
);

$cx-std-field-state-style-map: cx-deep-map-merge(
   $cx-std-field-state-style-map,
   (
      default: (
         font-weight: inherit,
         border-radius: 8px,
         padding: 8px 10px,
         color: inherit,
      ),
      focus: (
         border-color: rgb(77, 144, 254),
         box-shadow: 0 0 0 1px rgba(77, 144, 254, 0.8),
      ),
      error: (
         border-color: #dc2626,
         box-shadow: 0 0 0 1px rgba(#dc2626, 0.8),
      ),
      error-focus: (
         border-color: #f59e0b,
         box-shadow: 0 0 0 1px rgba(#f59e0b, 0.8),
      ),
   )
);

$cx-input-left-icon-state-style-map: cx-deep-map-merge(
   $cx-input-left-icon-state-style-map,
   (
      default: (
         left: 10px,
      ),
   )
);

$cx-textarea-state-style-map: cx-deep-map-merge(
   $cx-textarea-state-style-map,
   (
      default: (
         font-weight: inherit,
         border-radius: 8px,
         padding: 8px 10px,
         color: inherit,
      ),
      focus: (
         border-color: rgb(77, 144, 254),
         box-shadow: 0 0 0 1px rgba(77, 144, 254, 0.8),
      ),
      error: (
         border-color: #dc2626,
         box-shadow: 0 0 0 1px rgba(#dc2626, 0.8),
      ),
      error-focus: (
         border-color: #f59e0b,
         box-shadow: 0 0 0 1px rgba(#f59e0b, 0.8),
      ),
   )
);

$cx-button-state-style-map: cx-deep-map-merge(
   $cx-button-state-style-map,
   (
      default: (
         font-weight: inherit,
         border-radius: 6px,
         background-color: #f4f4f4,
      ),
   )
);

$cx-grid-data-state-style-map: cx-deep-map-merge(
   $cx-grid-data-state-style-map,
   (
      hover: (
         background-color: red,
      ),
   )
);

$cx-grid-header-state-style-map: cx-deep-map-merge(
   $cx-grid-header-state-style-map,
   (
      default: (
         text-transform: uppercase,
      ),
   )
);

$cx-window-body-state-style-map: (
   default: (
      background: null,
   ),
);

$cx-list-item: cx-deep-map-merge(
   $cx-list-item,
   (
      hover: (
         background-color: #f3f4f6,
      ),
      cursor: (
         background-color: #f3f4f6,
      ),
      selected: (
         background-color: rgb(219, 234, 254),
         color: rgb(37, 99, 235),
      ),
      selected-hover: (
         background-color: rgb(219, 234, 254),
         color: rgb(37, 99, 235),
      ),
      selected-cursor: (
         background-color: rgb(191, 219, 254),
         color: rgb(37, 99, 235),
      ),
      disabled: (
         opacity: 0.4,
      ),
   )
);

$cx-grid-pagination-state-style-map: $cx-list-item;

$cx-dropdown-styles: cx-deep-map-merge(
   $cx-dropdown-styles,
   (
      font-weight: 500,
      color: #374151,
   )
);

@import '~cx/src/index';

.cxe-overlay-shadow {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   animation: shadow-fade-in 0.2s forwards;
}

.cxe-dropdown-modal-backdrop {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.3);
   animation: shadow-fade-in 1s forwards;
}

.cxe-window-shadow {
   animation: shadow-fade-in 1s linear forwards;
   background: rgba(0, 0, 0, 0.35s);
}

@keyframes shadow-fade-in {
   from {
      background: rgba(128, 128, 128, 0);
   }

   to {
      //background: rgba(0, 0, 0, 0.3);
   }
}

.cxb-progressbar {
   &.cxm-error {
      .cxe-progressbar-indicator {
         background-color: #f65b5b;
      }
   }
   &.cxm-warning {
      .cxe-progressbar-indicator {
         background-color: #ffcb6c;
      }
   }
   &.cxm-success {
      .cxe-progressbar-indicator {
         background-color: #80ec80;
      }
   }
}

.cxb-tooltip {
   font-weight: 500;
}

.toolbar {
   display: flex;
   flex: 0 0 auto;
   padding: 0 0 $cx-default-box-padding;
   align-items: center;

   &.justify-right { justify-content: flex-end };

   &.spacing {
       > * {
           &:not(:last-child):not(.cxb-label) {
               margin-right: $main-layout-size-unit;
           }
       }
   };

   &.spacing-large {
       > * {
           &:not(:last-child):not(.cxb-label) {
               margin-right: 2 * $main-layout-size-unit;
           }
       }
   };

   &.spacing-small {
       > * {
           &:not(:last-child):not(.cxb-label) {
               margin-right: $main-layout-size-unit/2;
           }
       }
   };

   &.cxm-sticky {
       top: 0;
       position: sticky;
       z-index: 10;
       background-color: $background-color-light-2x;
   };

   &.cxm-highlight {
       padding: $cx-default-box-padding 1.5 * $cx-default-box-padding;
   }

   // > .cxb-button:not(:last-child) {
   //     margin-right: $main-layout-size-unit/2;
   // };

   // @each $field in $fields {
   //     .cxb-#{$field}:not(:last-child) {
   //         margin-right: $main-layout-size-unit/2;
   //     }
   // };
};


@import 'components/index.scss';
@import 'layout/index.scss';
@import 'routes/league/index.scss';